.scroll-pane {
    width: 100% !important;
    height: 200px;
    overflow: auto !important;
}

.item-scroll-pane {
    width: 100% !important;
    height: 640px;
    overflow: auto !important;
}

.choices-scroll-pane {
    width: 100% !important;
    height: 350px;
    overflow: auto !important;
}
