.jsonform-required > label:after {
  content: ' *';
  color: red;
}

.jsonform-hasrequired:after {
  content: '* Required field';
  display: block;
  color: red;
  padding-top: 1em;
}

.control-label {
	font-weight: bold;
}

.image-panel {
  	padding: 10px 10px 10px;
  	margin-top: 10px;
  	margin-bottom: 10px;
  	background-color: #f5f5f5;
  	border-top: 1px solid #e5e5e5;
  	*zoom: 1;
}

.expandable > legend:before {
  	content: '\25B8';
  	padding-right: 5px;
  	cursor: pointer;
}
.expanded > legend:before {
  	content: '\25BE';
	cursor: pointer;
}